language: node_js
# https://stackoverflow.com/questions/15674064/how-to-fix-a-permission-denied-publickey-error-for-a-git-submodule-update-in-t
# Handle git submodules yourself
git:
    submodules: false
# Use sed to replace the SSH URL with the public URL, then initialize submodules
before_install:
    - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
    - git submodule update --init --recursive
# End submodules fix
node_js:
- '10'
env:
- DEMOS="TRUE"
- TEST_NAME='base' TEST_SUITE=''
- TEST_NAME='bigNumber' TEST_SUITE=''
- TEST_NAME='negativeNumber' TEST_SUITE=''
- TEST_NAME='bigNumber-negativeNumber' TEST_SUITE=''
- TEST_NAME='restAPI' TEST_SUITE=''
- TEST_NAME='jiff_websockets' TEST_SUITE=''
- TEST_NAME='bits' TEST_SUITE=''
- TEST_NAME='fixedpoint' TEST_SUITE='share'
- TEST_NAME='fixedpoint' TEST_SUITE='arithmetic'
- TEST_NAME='fixedpoint' TEST_SUITE='constant arithmetic'
- TEST_NAME='fixedpoint' TEST_SUITE='constant comparison'
- TEST_NAME='fixedpoint' TEST_SUITE='comparison'
- TEST_NAME='fixedpoint' TEST_SUITE='ifelse'
- TEST_NAME='fixedpoint-negativeNumber' TEST_SUITE='share'
- TEST_NAME='fixedpoint-negativeNumber' TEST_SUITE='arithmetic'
- TEST_NAME='fixedpoint-negativeNumber' TEST_SUITE='constant arithmetic'
- TEST_NAME='fixedpoint-negativeNumber' TEST_SUITE='constant comparison'
- TEST_NAME='fixedpoint-negativeNumber' TEST_SUITE='comparison'
- TEST_NAME='fixedpoint-negativeNumber' TEST_SUITE='ifelse'
script:
- while sleep 9m; do echo "=====[ $SECONDS seconds still running ]====="; done &
- if [ "$DEMOS" == "TRUE" ]; then npm run-script test-demo -- \*; else npm run test -- "$TEST_NAME" "$TEST_SUITE"; fi
- kill %1
cache:
  directories:
  - node_modules
notifications:
  slack:
    secure: DuaE/q/B/la8rNGXsn/p3owtWZmn6th1rAJUXTIUUU48OjE86ehzMD40JMLMyAty3f/NHYOPufS7//AfpaIf4cGE6/4wHcTVoLOzRv6aP7WM0SvMy1WS5QgP7ryIjciyXFczknQ+JSMcXlxQDKtMCT7wBIwQO1WrB+T8e617y575t/ofO39k9Za1NA81MlrdWxTIWTDGMo17T+Pd/zz4ImHGYoifUzXi9DdH/4Zgy9SJxWQJ3PO/5RWef4qu1mBGXdanIEd63mYjIIQh8nJLn3pvWp7rQnChmwRqURDc6hpwdPJqeWO5knqhNlu/u7/TJI985rvTOPYljXfReXdF1OEHuq+prWGhv4VbxJzTpQ9PJZ42Ac1k6nCaMCJfCphpsUL48+qgeRY9IyBoqARw4Ne8hTerc7P0T/iQxgZk8zVVahdf0C27sPD0B563gMWvFKxW41YbvHwku7CpReaCt+pcGTd77p+v0mGZGlWNv/kV6KXMBHmQXGYEdVSpscEdlFbByZKagY8lrsadyZtaAaUCdD4VRGaYCWPh/+eBsVdS94r7XRHXBceiSd3ZY093r7lMO9yGnyDwqSydL7JgncO/GxWMhsEz2vRV+bgZlLU2yo60H8Kg1jvmpVP3o0d8wfkDUyLVOkJiSDZ+LuhQZ10f1MnP3AtVrMJFEKITmqw=
